{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>selection2</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/selection.css' %}">
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <div id="container">
    <div id="title">Co-Creation!</div>
    <div id="description">어떤 종류의 그림을 그릴 건가요?</div>
    <div class="myButton" id="landButton" value="land" onclick="page_transition(this)">Landscape</div>
    <div class="myButton" id="stillButton" value="still" onclick="page_transition(this)">Still Life</div>
    <div class="myButton" id="portButton" value="portrait" onclick="page_transition(this)">Portrait</div>
    <button class="w3-button w3-xlarge w3-circle w3-black" id="backButton" onclick="goBack()"><-</button>
  </div>
</body>
<script language="javascript" type="text/javascript">
  var screen_width = get_window_width();
  var screen_height = get_window_height();

  var container = document.getElementById('container'); //container DOM
  var title = document.getElementById('title'); //title DOM
  var description = document.getElementById('description'); //description DOM
  var landButton = document.getElementById('landButton'); //myButton1 DOM
  var stillButton = document.getElementById('stillButton'); //myButton2 DOM
  var portButton = document.getElementById('portButton'); //myButton2 DOM
  // var myButton = document.getElementsByClassName("myButton");
  var backButton = document.getElementById('backButton'); //backButton DOM
  container.style.width = screen_width + 'px';
  container.style.height = screen_height + 'px';
  title.style.top = screen_height / 5 + 'px';
  description.style.top = screen_height / 3.5 + 'px';
  // myButton.style.top = (screen_height / 2) * 1 + 'px';
  landButton.style.top = (screen_height / 2) * 1 + 'px';
  stillButton.style.top = (screen_height / 2) * 1 + 'px';
  portButton.style.top = (screen_height / 2) * 1 + 'px';
  backButton.style.top = (screen_height / 2) + 'px';
  backButton.style.left = (screen_width - 200) + 'px';

  function get_window_width() {
    // return p.windowWidth;
    return window.innerWidth;
  }

  function get_window_height() {
    // return p.windowHeight;
    return window.innerHeight;
  }

  function page_transition(event) {
    var pk = $(event).attr('value');
    console.log(pk);
    $.ajax({
      type : "POST",
      url : "{% url 'selection3' %}",
      data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
      error : function() {
        alert("fail");
      },
      success : function(data) {
        window.location.href = "{% url 'selection3' %}";
      }
    });
  }

  function goBack() {
    $.ajax({
      type : "GET",
      url : "{% url 'goBack' %}",
      success : function() {
        window.history.back();
      }
    });
  }
</script>

</html>
