<style>
  body {
    padding: 0;
    margin: 0;
  }

  #container {
    background-color: rgb(77, 76, 76);
    text-align: center;
    /*vertical-align: middle;
    display: table-cell;*/
  }

  #title {
    /*display: inline-block;*/
    position: relative;
    font-family: sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: white;
  }

  #description {
    /*display: inline-block;*/
    position: relative;
    font-family: sans-serif;
    font-size: 50px;
    color: white;
  }

  .myButton {
    position: relative;
    background-color: rgb(100,100,100);
    border-radius: 40px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    padding: 80px 80px;
    margin:0px 30px;
    text-decoration: none;
  }

  .myButton:active {
    position: relative;
    top: 1px;
    background-color: gray;
  }

  #backButton {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: url('/static/imgsrc/left.png') center center no-repeat;
    background-color: rgb(100,100,100);
    background-size: 60px 60px;
  }
  #backButton:active {
    position: relative;
    top: 1px;
    background-color: gray;
  }
  #landscape{
    height: 100px;
    background: url('/static/imgsrc/landscape.png') center center no-repeat;
    background-color: rgb(100,100,100);
    background-size: 80px 80px;
  }
  #stillLife{
    height: 100px;
    background: url('/static/imgsrc/stilllife.png') center center no-repeat;
    background-color: rgb(100,100,100);
    background-size: 80px 80px;
  }
  #portrait{
    height: 100px;
    background: url('/static/imgsrc/portrait.png') center center no-repeat;
    background-color: rgb(100,100,100);
    background-size: 80px 80px;
  }
</style>
